

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../image/bstract-animation.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#system-solaire {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

#soleil {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-right: 160px;
    img{
        width: 250%;
    }
}

.planet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin-right: 350px;
    margin-top: 100px;
    animation: rotate 10s linear infinite;
}

#mercure {

    animation-duration: 10s;
    transform-origin: 150px;
    img{
        width: 80%;
    }
}

#venus {
    animation-duration: 12s;
    transform-origin: 180px;
    img{
        width: 110%;
    }
}

#terre {
    animation-duration: 13s;
    transform-origin: 210px;
    img{
        width: 130%;
    }
}


#mars {
    animation-duration: 15s;
    transform-origin: 240px;
    img{
        width: 95%;
    }
}

#jupiter {
    animation-duration: 16s;
    transform-origin: 270px;
    img{
        width: 200%;
    }

}

#saturne {
    animation-duration: 18s;
    transform-origin: 300px;
    img{
        width: 400%;
    }
}

#uranus {
    animation-duration: 19s;
    transform-origin: 330px;
    img{
        width: 140%;
    }
}

#neptune {
    animation-duration: 21s;
    transform-origin: 360px;
    img{
        width: 150%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

